<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

<h1>Login / Register</h1>
<form style="max-width: 300px;" action="/register" method="post">
    <input name="username" class="form-control" placeholder="Username (min. 10 characters)" />
    <br>
    <input name="password" class="form-control" placeholder="Password (min. 10 characters)" />
    <br>
    <input type="submit" />
</form>
